<div class = "confirmbg">
<h3>
	Thank you for your booking request. We will get back to you shortly! 
</h3>
<iframe id="bluetube-player-1" frameborder="0" allowfullscreen="1" title="YouTube video player" width="auto" height="802" src="https://www.youtube.com/embed/o_24LPjOIHI?showinfo=0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;modestbranding=0&amp;wmode=transparent&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fgopro.com" style="width: 1425px; height: 802px; left: 0px; top: -134px; position: relative;"></iframe>
</div>