@import "bootstrap-sprockets";
@import "bootstrap";

/*why is the font not getting applied?*/


/*why is the font not getting applied?*/
body{
  font-family: 'Lato', sans-serif;
  padding-top: 50px; 
  background-color: white;

}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.flash{
  margin-top:45px;
  color:red;
}

.player{
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
left: 0;
overflow: hidden;
/*-webkit-filter:grayscale(100%);
filter:grayscale(100%);*/
}

.container-fluid{
  padding: 0 0 0 0;
}
/*Initial page*/


.navHeaderCollapse{
  border:none;
 /* clear:left;*/
}

.navbar-toggle{
  border: none;
}

.test{
  background-image: url(taxiblur2.jpg); 
/*  position: fixed;*/
  /*background-repeat: no-repeat;
*/  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
  height:55vw;
  /*position: relative;*/
/*  width: 100%;*/
 /* padding-bottom: 66.666666666667%;*/
/*  height: 100%;*/
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
 /* display: block;*/
}


.ji{
  color: white;
  position: absolute; 
  font-size: 2vw;
  line-height: 1em;
  
}

.heroBtn{
  position:relative;
  top: 50%;

}
.logotext{
  letter-spacing: 10px;
  float:left;
}

.nav {
  padding-right: 10px;
}

.navbar-inverse{
  background-color: #00BFFF;
}

.navbar{
  border: none;
}

.navbar-txt {
  margin: none;
}
.herotext{
  margin:0;
/*  padding-top: 10%;
  padding-left: 10%;*/
  font-size: 7vw;
  color: white;
  font-weight: 700;
  line-height:90%;
/*  color: #00BFFF;*/
  position: relative;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
/*  top: -100%;*/
/*  z-index: 10;*/
}

.container{
  padding-right: 0;
}
.pitch1{
/*  padding: 10px auto 10px auto;*/
  height: 300px;
  float: none;
  margin: 0 auto;
  padding:auto;
  background: #FDF5E6;
/*  overflow:auto;*/
}
/*End of initial page*/

/*platform: section2*/
.platformSection
{
margin: 50px 0 50px 0;
}
.platformHeader{
  position: center;
  margin: 0 auto;
/*  padding-top: 100px;
  padding-bottom: 100px;*/
  letter-spacing: 8px;
  text-align: center;
  color: #00BFFF;
}

.platformimage{
  margin-top: 13%;
  height: 150px;
  width:auto;
}

h1{
  font-weight: 700;
  font-size: 7vw;;
}

.platformText{
  text-align: center;
  padding-top: auto;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

/*end of platform: section2*/

.ImageBackgroundSection{
  background: url(redlight.jpg);  
 /* position: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*position: relative;*/
  max-width: 100%;
  height: 55vw;
  color: #00BFFF;
  top: 0;
  left: 0;
}


.ImageBackgroundSection h2{
  color:white;
  padding-top: 23%;
  line-height: 45px;
  font-size: 4vw;
}

/*video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
/*background: url(../assets/images/taxi.jpg) no-repeat;*/
/*background-size: cover;
}*/

/*Questions Section*/

.questionSection{
  margin: 80px auto;
}

.questionSection h1{
  font-size: 3vw;
  color: #00BFFF;
}

.questionBlock{
  text-align: center;
  height:5vm;
  cursor: pointer;
}

.answer{
  display:none;
}
/*
.questionsection:hover .answer{
  display:block;
}

.question2parent:hover .answer2{
  display: block;
  background-color: yellow;
}
.question3parent:hover .answer3{
  display: block;
  background-color: yellow;
}*/

.footertext{
padding: 0;
text-decoration: none;
margin: 0 auto;
}

.footertext h3 {
/*margin-top: 20px;*/
width: 100%;
font-size: 3vw;
}

/*Listings Page css*/
.expressbook{
  padding-top: 1%;
  background-color: #708090;
  color: white;
  margin: none;
  word-spacing: 1px;
}

.expressbook:hover{
  background-color: black;
}

.expressbook p{
text-align: center;
}

.listing{
  padding-top: 120px;

}

/*.driverprofile{
  border-style: solid;
  border-width: 1px;
  color: #00BFFF;
}
*/
/*.driverprofile:hover{
  background-color: #F5FFFA;
  border-style: solid;
  border-width: 1px;

}*/

.driverimage{
  padding: 5px;
  display: block;
  margin:auto;
}

.driverinfo{
  text-align: center;
}

.review{
  cursor: pointer;
}

/*.review:hover{
height:30px;
}
*/
.driverreviews {
  display: none;
  padding-top: 2%;
  color: white;
}

li{
  list-style-type: none;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

/*Booking Request form*/
.formsection{
  background-color: #1abc9c;
  padding: 10px;
  text-align: center;
}
.fillform{
  background-color: #1abc9c;
  padding: 0;
  text-align: center;
}
.fillform h3{
  margin-bottom:20px;
}

